* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navbar {
  height: 91px;
  background-color: #21222A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: #61DAFB;
  padding-left: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo > img {
  width: 29px;
}

#logo > h3 {
  font-size: 31px;
  padding-left: 8px;
  font-weight: 700;
  letter-spacing: -5%;
}

#extra-title {
  color:#DEEBF8;
  padding-right: 27px;
  font-weight: 600;
  font-size: 16px;
}